@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
header {
  position: fixed;
  z-index: 25;
  width: 100%;
  top: -1%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

header .fa-mobile-alt {
  height: 24px;
  padding-top: 5px;
}

header .bg-nav {
  background-color: rgba(19, 22, 24, 0.35) !important;
  background: none;
}

header .navbar {
  padding-bottom: 0;
}

header .navbar .navbar-brand {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media only screen and (max-width: 575px) {
  header .navbar .navbar-brand {
    -webkit-box-flex: 15;
        -ms-flex-positive: 15;
            flex-grow: 15;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  header .navbar .navbar-brand {
    -webkit-box-flex: 15;
        -ms-flex-positive: 15;
            flex-grow: 15;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1199px) {
  header .navbar .navbar-brand {
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
}

header .navbar .navbar-brand img {
  position: fixed;
  width: 115px;
  top: 3%;
  left: 2%;
}

@media only screen and (max-width: 419px) {
  header .navbar .navbar-brand img {
    width: 35px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 575px) {
  header .navbar .navbar-brand img {
    width: 40px;
  }
}

header .navbar .navbar-brand img:hover {
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .navbar .header__mobile {
  display: none;
}

@media only screen and (max-width: 419px) {
  header .navbar .header__mobile {
    display: block;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 575px) {
  header .navbar .header__mobile {
    display: block;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 575px) {
  header .navbar .header__mobile {
    display: block;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  header .navbar .header__mobile {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  header .navbar .header__mobile {
    display: block;
  }
}

header .navbar .header__mobile .header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navbar .header__mobile .header__login .login__link {
  text-decoration: none;
}

header .navbar .header__mobile .header__login .login__link img {
  background: white;
  width: 30px;
  border-radius: 999px;
  margin: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media only screen and (max-width: 419px) {
  header .navbar .header__mobile .header__login .login__link img {
    width: 20px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 575px) {
  header .navbar .header__mobile .header__login .login__link img {
    width: 20px;
  }
}

header .navbar .header__mobile .header__login .login__link .login__text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  margin-right: 20px;
}

@media only screen and (max-width: 419px) {
  header .navbar .header__mobile .header__login .login__link .login__text {
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 421px) and (max-width: 575px) {
  header .navbar .header__mobile .header__login .login__link .login__text {
    font-size: 13px;
    font-weight: 400;
    margin-right: 10px;
  }
}

header .navbar .header__mobile .header__login .login__link .login__text a {
  text-decoration: none;
  color: #fff;
}

header .navbar .navbar-toggler {
  outline: none;
  border: none;
  background-color: #60c5ef;
}

header .navbar .navbar-collapse {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media only screen and (max-width: 575px) {
  header .navbar .navbar-collapse {
    text-align: center;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  header .navbar .navbar-collapse {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  header .navbar .navbar-collapse {
    text-align: center;
  }
}

header .navbar .navbar-collapse .navbar-nav .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10px;
  margin-left: 30px;
  padding-top: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-bottom: none;
}

header .navbar .navbar-collapse .navbar-nav .nav-item__icon {
  text-align: center;
}

header .navbar .navbar-collapse .navbar-nav .nav-item:hover i {
  background: -webkit-linear-gradient(#25aae1, #2bb673);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
}

header .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link {
  background: -webkit-linear-gradient(#25aae1, #2bb673);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .navbar .navbar-collapse .navbar-nav .nav-item i {
  color: #fff;
  text-align: center;
}

header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

header .navbar .navbar-collapse .dropdown__country {
  padding-bottom: 14px;
  padding-left: 10px;
}

@media only screen and (max-width: 575px) {
  header .navbar .navbar-collapse .dropdown__country {
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  header .navbar .navbar-collapse .dropdown__country {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  header .navbar .navbar-collapse .dropdown__country {
    display: none;
  }
}

header .navbar .navbar-collapse .dropdown__country .MuiNativeSelect-select:not([multiple]) option,
header .navbar .navbar-collapse .dropdown__country .MuiNativeSelect-select:not([multiple]) optgroup {
  color: #000;
}

header .navbar .navbar-collapse .dropdown__country .MuiInput-underline:before,
header .navbar .navbar-collapse .dropdown__country .MuiInput-underline:after {
  content: none;
}

header .navbar .navbar-collapse .dropdown__country .MuiNativeSelect-icon {
  color: #fff;
}

@media only screen and (max-width: 575px) {
  header .navbar .navbar-collapse .header__login {
    display: none;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  header .navbar .navbar-collapse .header__login {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  header .navbar .navbar-collapse .header__login {
    display: none;
  }
}

header .navbar .navbar-collapse .header__login .login__link {
  text-decoration: none;
}

header .navbar .navbar-collapse .header__login .login__link img {
  width: 30px;
  border-radius: 999px;
  margin: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .navbar .navbar-collapse .header__login .login__link .login__text {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

header .navbar .navbar-collapse .header__login .login__link .login__text a {
  text-decoration: none;
  color: #fff;
}

header .navbar .navbar-collapse .header__login .login__link .login__text:hover {
  color: #29303b;
}

header .navbar .navbar-collapse .header__login .logOut__btn {
  border: 1px solid #60c5ef;
  padding: 7px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header .navbar .navbar-collapse .header__login .logOut__btn:hover {
  -webkit-box-shadow: 2px 2px 4px 1px #fff;
          box-shadow: 2px 2px 4px 1px #fff;
}

@media only screen and (max-width: 575px) {
  header .navbar .navbar-collapse .header__login #province__dropdown {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  header .navbar .navbar-collapse .header__login #province__dropdown {
    margin-top: 5px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  header .navbar .navbar-collapse .header__login #province__dropdown {
    margin-top: 5px;
  }
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-toggle {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-toggle .dropdown__icon {
  margin-right: 7px;
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-toggle .dropdown__text {
  margin-right: 20px;
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-menu.show {
  top: 26px !important;
  left: -10% !important;
  overflow-y: scroll;
  height: 200px;
  border-radius: 5px;
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-menu.show::-webkit-scrollbar {
  width: 4px;
  background-color: #d8d8d8;
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-menu.show::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 5px;
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 14px;
  font-weight: 400;
}

header .navbar .navbar-collapse .header__login #province__dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #60c5ef;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=Header.css.map */