@import "../../connect";

.title {
  display: flex;
  justify-content: space-between;
  margin: spacing(1);
  .btnAdd {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #25aae1;
    outline: none;
    transition: all 0.3s ease;
    position: fixed;
    left: 10px;
    background-color: rgba(50, 50, 50, 0.9);
    bottom: 10px;
    border: 2px solid rgba(50, 50, 50, 0.9);
    z-index: 105;
    &:hover {
      border: 2px solid #25aae1;
      background: #25aae1;
      color: whitesmoke;
      box-shadow: 0 5px 12px 0 rgba($color: #25aae1, $alpha: 0.5);
    }
  }
  .search {
    text-align: right;
    #wrap {
      display: inline-block;
      position: relative;
      height: 60px;
      padding: 0;
      input[type="text"] {
        height: 60px;
        font-size: 30px;
        display: inline-block;
        font-weight: 100;
        border: none;
        outline: none;
        color: #333;
        padding: 3px;
        padding-right: 60px;
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        z-index: 3;
        transition: width 0.4s cubic-bezier(0, 0.795, 0, 1);
        cursor: pointer;
        @include responsive_mobile {
          @include Text($fs-4 - 10, $fw-regular);
        }
        &:focus:hover {
          border-bottom: 1px solid #bbb;
        }
        &:focus {
          width: 600px;
          z-index: 1;
          border-bottom: 1px solid #bbb;
          cursor: text;
          @include responsive_mobile {
            width: 450px;
          }
        }
        &::placeholder {
          font-family: "Maven Pro", sans-serif;
          color: #bbb;
          @include Text($fs-4, $fw-regular);
          @include responsive_mobile {
            @include Text($fs-4 - 10, $fw-regular);
          }
        }
      }
      input[type="submit"] {
        height: 67px;
        width: 63px;
        display: inline-block;
        color: red;
        background: url(https://i.ibb.co/3C5MH50/search.png)
          center center no-repeat;
        text-indent: -10000px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        outline: none;
        cursor: pointer;
        opacity: 0.4;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.table-responsive-sm {
  .table-hover {
    tbody {
      tr {
        td {
          .edit-action {
            color: #25aae1;
            cursor: pointer;
          }
          .delete-action {
            color: $color-red-0;
            cursor: pointer;
          }
        }
      }
    }
  }
}
